@page "/users"
@rendermode InteractiveServer
@using BlazorApp1.Models
@using BlazorApp1.Services
@using BlazorApp1.Components.Shared
@inject UserService UserService

<h3>Users (@(users.Count))</h3>

<div>
    order by

    <select @bind="selectedSort">
        @foreach (var item in Enum.GetValues<SortType>())
        {
            <option value="@item">@item</option>
        }
    </select>
</div>

<hr />

<input class="form-control-sm" @bind="name" @bind:event="oninput" placeholder="name" />
<input class="form-control-sm" @bind="email" @bind:event="oninput" placeholder="email" />

|
<NanoButton ColorScheme="secondary" @onclick="GenerateMail" Disabled="@(!IsGenerateMailBtnEnabled)" Text="Generate mail" Icon="at"></NanoButton>
|

@if (!IsEditing)
{
    <NanoButton onclick="AddUser" Disabled="@(!IsAddBtnEnabled)" Icon="plus"></NanoButton>
}
else
{
    <NanoButton OnClick="SaveUser" Disabled="@(!IsAddBtnEnabled)" Text="Save" Icon="check"></NanoButton>
    <NanoButton ColorScheme="secondary" OnClick="CancelEdit" Text="Cancel" Icon="x"></NanoButton>
}

<hr />

<table class="table table-bordered">
    <thead class="table-secondary">
        <tr>
            <th>Név</th>
            <th>Mail</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in SortedUsers)
        {
            <tr>
                <td>@u.Name</td>
                <td>
                    @u.Email
                    @if (u.IsValidMail)
                    {
                        <NanoIcon Icon="check" ColorScheme="success"></NanoIcon>
                        @* <i class="bi bi-check text-success"></i> *@
                    }
                </td>
                <td>
                    <NanoButton ColorScheme="warning" OnClick="() => Edit(u)" icon="pen"></NanoButton>
                    <NanoButton ColorScheme="danger" OnClick="() => AskDelete(u)" Icon="trash"></NanoButton>
                </td>
            </tr>

        }
    </tbody>
</table>

@code {
    List<User> users = new();
    string errorMessage = "";

    SortType selectedSort = SortType.Name;

    string name = "";
    string email = "";

    User? userToDelete;
    bool showDeleteModal = false;
    User? editingUser;

    bool IsEditing => editingUser != null;


    bool IsAddBtnEnabled => !string.IsNullOrEmpty(name) && !string.IsNullOrEmpty(email);
    bool IsGenerateMailBtnEnabled => !string.IsNullOrEmpty(name);

    IEnumerable<User> SortedUsers => selectedSort switch
    {
        SortType.Name => users.OrderBy(x => x.Name),
        SortType.Email => users.OrderBy(x => x.Email),
        SortType.Id => users.OrderBy(x => x.Id),
        SortType.EmailValidity => users.OrderBy(x => !x.IsValidMail).ThenBy(x => x.Email),
        SortType.NameLength => users.OrderBy(x => x.Name.Length),
        _ => users
    };

    protected override void OnInitialized()
    {
        users = UserService.GetAll();
    }

    void GenerateMail() { email = $"{name}@nanoworx.hu"; }

    void AddUser()
    {
        try
        {
            UserService.Add(name, email);

            users = UserService.GetAll();

            name = "";
            email = "";
            errorMessage = "";
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    void SaveUser()
    {
        if (editingUser == null)
            return;

        try
        {
            UserService.Update(editingUser.Id, name, email);

            users = UserService.GetAll();

            editingUser = null;
            name = "";
            email = "";
            errorMessage = "";
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    void CancelEdit()
    {
        editingUser = null;
        name = "";
        email = "";
        errorMessage = "";
    }

    void Delete(int id)
    {
        UserService.Delete(id);
        users = UserService.GetAll();
    }

    void Edit(User user)
    {
        editingUser = user;

        name = user.Name;
        email = user.Email;
    }

    void AskDelete(User user)
    {
        userToDelete = user;
        showDeleteModal = true;
    }

    void CloseDelete()
    {
        showDeleteModal = false;
        userToDelete = null;
    }

    void ConfirmDelete()
    {
        if (userToDelete == null)
        {
            CloseDelete();
            return;
        }

        UserService.Delete(userToDelete.Id);

        users = UserService.GetAll();

        CloseDelete();
    }

    void CancelDelete()
    {
        userToDelete = null;
    }

    enum SortType
    {
        Id,
        Name,
        Email,
        NameLength,
        EmailValidity
    }
}

<NanoModal Visible="@showDeleteModal" Title="Delete user" OnClose="CloseDelete">

    <p>
        Törlöd ezt: <b>@userToDelete?.Name</b>?
    </p>

    <NanoButton ColorScheme="danger" OnClick="ConfirmDelete" Text="Igen" Icon="trash"></NanoButton>
    <NanoButton ColorScheme="secondary" OnClick="CloseDelete" Text="Mégse" Icon="x"></NanoButton>


</NanoModal>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}